<%= render partial: '/errors', locals: { record: @user } %>

<h4>Edit User Profile</h4>

<%= render 'form' %>

<%= link_to "Back to User's Profile", user_path(@user), class: "waves-effect waves-light btn" %>

<br><br>