<h2>Welcome, <%= current_user.fullname %></h2>

<%= render partial: '/errors', locals: { record: @patient } %>

<%= render 'form' %>

<p><i>Since the questionnaire relies on patient self-report, all responses should be verified by the medical representative, as well as other relevant information from the patient.</i></p>