<h2>Welcome, <%= current_user.fullname %></h2>




<h3><%= link_to "Schedule an Appointment", new_healthcare_team_path(@patient.healthcare_teams.build) %></h3>

<% @patient.doctors.each do |doctor| %>
    <div>
        <strong><%= doctor.fullname %></strong>
        <%= doctor.specialty %>
    </div>
<% end %>