<h2>Welcome, <%= current_user.fullname %></h2>

<h3>Schedule an Appointment</h3>
<h3><%= link_to edit_user_path(current_user) %></h3>

<% @patient.doctors.each do |doctor| %>
    <%= doctor.fullname %>
    <%= doctor.specialty %>
<% end %>