<h4>Doctors available in our healthcare provider:</h4>

<br>

<% @doctors.order(specialty: :asc).each do |doctor| %>
    <div>
        <strong><%= link_to "#{ doctor.fullname }", doctor_path(doctor) %></strong>
        <i><%= link_to "#{ doctor.specialty }", doctors_path %></i>
    </div>
<% end %>