<h4>Welcome, <%= current_user.fullname %></h4>

<h3><%= link_to "Schedule an Appointment", select_specialty_path %></h3>

<% current_patient.doctors.each do |doctor| %>
    <div>
        <strong><%= doctor.fullname %></strong>
        <%= doctor.specialty %>
    </div>
<% end %>

<% current_patient.medical_record %>
<% current_patient.test_results %>
<% current_patient.medications %>