<div class="center-align">
    <div class="valign-wrapper" style="min-height: 600px; height: 100%;">
        <div class="row">
            <% if !logged_in? %>
                <%= image_tag(ActionController::Base.helpers.asset_path("oculus.png"), style: "max-width: 100%; height: auto;") %>
                   
                <br><br><br>
                
                <%= link_to "Sign in with GitHub", "/auth/github", class: "waves-effect waves-light btn" %>
                <br><br>
                <%= link_to "Sign in with Google", "/auth/google_oauth2", class: "waves-effect waves-light btn" %>
            <% end %>
        </div>
    </div>
</div>